
@font-face {
  font-family: IRANYekan;
  font-style: normal;
  font-weight: bold;
  src: url('iranyekanwebbold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('tiranyekanwebbold.ttf') format('truetype');
}

